# Data Types and Structures

1. What are data structures, and why are they important?
-- A data structure is a way of organizing and storing data so it can be accessed and modified efficiently.

-- why they are important.


*   Improve Efficiency
*   Optimize Memory Usage
*   Enhance Scalability
*   Enable Better Problem Solving

---
2. Explain the difference between mutable and immutable data types with examples.
-- Mutable Data Types :-  Mutable objects allow in-place modifications, meaning their content can be changed without changing their memory address.

-- Examples of Mutable Data Types:-

In [ ]:
my_list = [1, 2, 3]
my_list[0] = 100  # Modifying the first element
print(my_list)  # Output: [100, 2, 3]

[100, 2, 3]

-- Immutable Data Types:- Immutable objects do not allow modifications. If you try to modify them, a new object is created instead.

-- Examples of Immutable Data Types:-

In [ ]:
my_string = "hello"
my_string[0] = "H"  #  This will raise an error

TypeError: 'str' object does not support item assignment

3. What are the main differences between lists and tuples in Python?
-- List: A mutable, ordered collection of elements that allows modifications such as adding, removing, or changing items. It is defined using square brackets [ ].

-- Mutable example are :-

In [ ]:
my_list = [1, 2, 3]
my_list.append(4)  # Adding an element
my_list[0] = 100   # Modifying an element
print(my_list)  # Output: [100, 2, 3, 4]

[100, 2, 3, 4]

-- Tuple: An immutable, ordered collection of elements that cannot be modified after creation. It is defined using parentheses ( ).

-- Immutable example are:-

In [ ]:
my_tuple = (1, 2, 3)
my_tuple[0] = 100  #  This will raise an error

TypeError: 'tuple' object does not support item assignment

4. Describe how dictionaries store data.
-- A dictionary (dict) in Python is a collection that stores data as key-value pairs. It is optimized for fast lookups and is implemented using hash tables internally.

--How Data is Stored in Dictionaries :- Key-Value Pairs – Each element consists of a key (unique) and a value (which can be of any data type).

In [ ]:
my_dict = {"name": "Alice", "age": 25, "city": "New York"}
my_dict["name"]  # Accessing a value using its key

'Alice'

5. Why might you use a set instead of a list in Python?
-- A set in Python is an unordered collection of unique elements, optimized for fast membership testing and removing duplicates.

Here’s why you might use a set instead of a list:

---
6. What is a string in Python, and how is it different from a list?
--String in Python :-  A string is an immutable sequence of characters used to store and manipulate textual data. It is defined using quotes (', ", ''', or """).

-- List in Python :- A list is a mutable, ordered collection of elements that can store multiple data types and be modified dynamically. It is defined using square brackets [].

---
7. How do tuples ensure data integrity in Python?
-- A tuple in Python is an immutable, ordered collection of elements that ensures data integrity by preventing modifications after creation. This immutability helps maintain consistency, prevents accidental changes, and allows tuples to be used as hashable keys in dictionaries, making them useful for storing fixed, unchangeable data

---
8. What is a hash table, and how does it relate to dictionaries in Python?
--A hash table is a data structure that stores key-value pairs using a hash function to map keys to unique indices for fast access.


--In Python, dictionaries (dict) are built using hash tables, allowing quick lookups, insertions, and deletions with an average time complexity of O(1).

---
9. Can lists contain different data types in Python?

--Yes! Lists in Python can contain different data types because they are heterogeneous. You can store integers, floats, strings, booleans, other lists, dictionaries, or even functions in the same list.


---
10.  Explain why strings are immutable in Python.
--In Python, strings are immutable, meaning their contents cannot be changed after creation. This is because strings are stored as fixed sequences of Unicode characters in memory.

---
11.What advantages do dictionaries offer over lists for certain tasks?
-- Dictionaries (dict) offer several advantages over lists (list) for certain tasks because they provide fast lookups, efficient storage, and meaningful key-value associations. Here’s why dictionaries can be better than lists in specific cases:

In [ ]:
my_dict = {"apple": 10, "banana": 20}
print(my_dict["apple"])  # O(1) lookup

my_list = [("apple", 10), ("banana", 20)]
for item in my_list:
    if item[0] == "apple":
        print(item[1])  # O(n) lookup

12.  Describe a scenario where using a tuple would be preferable over a list?
--Imagine you are building a GPS system that needs to store latitude and longitude for multiple locations. Since the coordinates for a specific place do not change, using a tuple instead of a list is preferable.

--Why Use a Tuple?


*   Immutability – Coordinates should remain constant to prevent accidental modification.
*   Memory Efficiency – Tuples consume less memory than lists, making them faster and more efficient.
*   Hashability – Tuples can be used as dictionary keys for fast lookups.

---
13. How do sets handle duplicate values in Python?
-- In Python, sets automatically remove duplicate values because they are unordered collections of unique elements. When you add duplicate values to a set, Python keeps only one instance of each unique value.

In [ ]:
my_set = {1, 2, 2, 3, 4, 4, 5}
print(my_set)  # Output: {1, 2, 3, 4, 5}

14. How does the “in” keyword work differently for lists and dictionaries
--in with Lists (O(n) – Linear Search)
* Checks if a value exists in the list by scanning each element one by one.
* Time Complexity: O(n) (slower for large lists).

In [ ]:
my_list = [10, 20, 30, 40]

print(20 in my_list)  # True (Checks each element)
print(50 in my_list)  # False

-- in with Dictionaries (O(1) – Hash Table Lookup)
* Checks if a key exists (not values).
* Uses hash tables, making lookups very fast.
* Time Complexity: O(1) (on average, much faster than lists).

---

15.  Can you modify the elements of a tuple? Explain why or why not?
--No, you cannot modify the elements of a tuple in Python because tuples are immutable.

--Why Are Tuples Immutable?
* Memory Efficiency – Python optimizes tuples for speed and memory usage.
* Data Integrity – Prevents accidental changes, making them safer for fixed data.
* Hashability – Tuples can be used as dictionary keys (if they contain only immutable elements)

---
16. What is a nested dictionary, and give an example of its use case?
-- A nested dictionary is a dictionary that contains one or more dictionaries as values. It allows you to store structured, hierarchical data efficiently.

In [ ]:
students = {
    "Alice": {"age": 25, "grades": {"math": 90, "science": 85}},
    "Bob": {"age": 22, "grades": {"math": 78, "science": 88}},
}

# Accessing Bob's math grade
print(students["Bob"]["grades"]["math"])  # Output: 78

17.  Describe the time complexity of accessing elements in a dictionary?

--Accessing elements in a dictionary is O(1) (constant time) on average because Python uses hash tables for fast lookups. In rare cases, due to hash collisions, it can take O(n) (linear time), but Python optimizes to keep it fast.

---
18.  In what situations are lists preferred over dictionaries?
--When order matters

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(fruits[0])  # Output: apple

--When you need indexing

In [ ]:
numbers = [10, 20, 30]
print(numbers[1])  # Output: 20

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
-- Before Python 3.7, dictionaries were unordered because they used hash tables, which did not store elements in a fixed order.

Since Python 3.7+, dictionaries maintain insertion order, meaning items appear in the order they were added.

However, dictionaries do not support indexing like lists, so you must access values using keys, not positions.

---

20.Explain the difference between a list and a dictionary in terms of data retrieval.
* Lists retrieve data using index numbers (position-based).
* Dictionaries retrieve data using keys (name-based).
* Lists are slower when searching for a value (O(n)).
* Dictionaries are faster because they use **keys for quick lookups (O(1)).

# Practical Questions

1. Write a code to create a string with your name and print it>

In [ ]:
# first we get name input
name = input("Enter your name : ")

# then we print the name
print(name)

Enter your name : Aviral sharma
Aviral sharma

2.  Write a code to find the length of the string "Hello World"?

In [ ]:
# write any str
str_1 = "Hello World"

# then we fing the lenth of str_1 with use (len) funtion
print(len(str_1))

11

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
# define the string
text =  "Python Programming"

# slice first three characters
first_three = text[:3]

# print
print(first_three)

Pyt

4.  Write a code to convert the string "hello" to uppercase?

In [ ]:
# write the text
text = "hello"

# convert to uppercase
uppercase_text = text.upper()

# print
print(uppercase_text)

HELLO

5.  Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
# write the text
text = "I like apple"

# replce to text
new_text = text.replace("apple", "orange")

# print
print(new_text)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it?

In [ ]:
# Here's a simple Python code snippet to create a list with numbers 1 to 5 and print it:

numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [ ]:
# You can use the append() method to add 10 to the list:

numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [ ]:
# You can use the remove() method to delete the number 3 from the list:

numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [ ]:
# You can access the second element of the list using indexing:

letters = ['a', 'b', 'c', 'd']
second_element = letters[1]  # Indexing starts from 0
print(second_element)

b

10. You can reverse the list using the reverse() method or slicing.?

In [ ]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
# create a tuple
my_tuple = (100,200,300)

# print result
print(my_tuple)

# type
print(type(my_tuple))

(100, 200, 300)
<class 'tuple'>

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last = my_tuple[-2]
second_to_last

'blue'

13. . Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
my_tuple = (10,20,5,15)

min_num = min(my_tuple)

print(min_num)

5

14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
my_tuple = ('dog', 'cat', 'rabbit')

index = my_tuple.index("cat")

print(index)

1

15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
my_tuple = ("apple","kiwi","banana")

if "kiwi" in my_tuple:
  print("kiwi is in the tuple")
else:
  print("kiwi is not in the tuple")

16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [1]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'b', 'a'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [2]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()  # Removes all elements from the set
print(my_set)   # Output: set()

set()

18.. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [3]:
my_set = {1, 2, 3, 4}
my_set.remove(4)  # Removes element 4 from the set
print(my_set)  # Output: {1, 2, 3}

{1, 2, 3}

19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [4]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Using union() method
union_set = set1.union(set2)
print(union_set)  # Output: {1, 2, 3, 4, 5}

# Using | operator
union_set_alt = set1 | set2
print(union_set_alt)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

20. . Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [5]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Using intersection() method
intersection_set = set1.intersection(set2)
print(intersection_set)  # Output: {2, 3}

# Using & operator
intersection_set_alt = set1 & set2
print(intersection_set_alt)  # Output: {2, 3}

{2, 3}
{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [6]:
my_dict = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}

print(my_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [7]:
my_dict = {'name': 'John', 'age': 25}

# Adding a new key-value pair
my_dict['country'] = 'USA'

print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [8]:
my_dict = {'name': 'Alice', 'age': 30}

# Using square brackets
name_value = my_dict['name']
print(name_value)  # Output: Alice

# Using get() method (avoids KeyError if key doesn't exist)
name_value_alt = my_dict.get('name')
print(name_value_alt)  # Output: Alice

Alice
Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [9]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}

# Using pop() method (returns the removed value)
removed_value = my_dict.pop('age')
print(my_dict)  # Output: {'name': 'Bob', 'city': 'New York'}

{'name': 'Bob', 'city': 'New York'}

25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [10]:
my_dict = {'name': 'Alice', 'city': 'Paris'}

# Checking if 'city' exists in the dictionary
if 'city' in my_dict:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

26.  Write a code to create a list, a tuple, and a dictionary, and print them all

In [11]:
# Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Creating a dictionary
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}

# Printing all three
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}

27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the  result.(replaced)

In [12]:
# Manually creating a list of 5 numbers
numbers = [42, 7, 89, 23, 56]

# Sorting the list in ascending order
numbers.sort()

# Printing the sorted list
print("Sorted List:", numbers)

Sorted List: [7, 23, 42, 56, 89]

28.  Write a code to create a list with strings and print the element at the third index.

In [13]:
# Creating a list with strings
my_list = ["apple", "banana", "cherry", "orange", "grape"]

# Printing the element at the third index
print("Element at index 3:", my_list[3])

Element at index 3: orange

29.  Write a code to combine two dictionaries into one and print the result

In [14]:
# Creating two dictionaries
dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'New York', 'country': 'USA'}

# Method 1: Using update()
combined_dict = dict1.copy()  # Copying dict1 to avoid modifying the original
combined_dict.update(dict2)
print("Combined Dictionary (using update):", combined_dict)

Combined Dictionary (using update): {'name': 'Alice', 'age': 25, 'city': 'New York', 'country': 'USA'}

30. 0. Write a code to convert a list of strings into a set

In [15]:
# Creating a list of strings
my_list = ["apple", "banana", "cherry", "apple", "banana"]

# Converting the list into a set
my_set = set(my_list)

# Printing the result
print("Set:", my_set)

Set: {'cherry', 'banana', 'apple'}